<h3><?= e(trans('kurtjensen.langmanager::lang.result.explain',['lang1' =>$lang2, 'lang2'=>$lang1])) ?></h3>

<?php if(count($dif1)){ ?>
<table class="table">
<?php foreach ($dif1 as $key=>$phrase){ ?>
	<tr><td class="text-right"><strong><?= $key ?></strong></td><td><?= $phrase ?></td></tr>
<?php } ?>
</table>
<?php } else { ?>
<p>None</p>
<?php } ?>
<hr />
<h3><?= e(trans('kurtjensen.langmanager::lang.result.explain',['lang1' =>$lang1, 'lang2'=>$lang2])) ?></h3>
<?php if(count($dif2)){ ?>
<table class="table">
<?php foreach ($dif2 as $key=>$phrase){ ?>
	<tr><td class="text-right"><strong><?= $key ?></strong></td><td><?= $phrase ?></td></tr>
<?php } ?>
</table>
<?php } else { ?>
<p>None</p>
<?php } ?>