<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kurtjensen/langmanager/main') ?>">Main</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
<h2><?= e(trans('kurtjensen.langmanager::lang.update.plugin')) ?> <?= $urlCode ?></h2>
<div id="results">
<h2><?= e(trans('kurtjensen.langmanager::lang.update.lang_avail')) ?></h2>
<?php if(count($langs)){ ?>
<?= Form::open(); ?>
<?= Form::hidden('urlCode', $urlCode); ?>

<?php if($primary_lang){ ?>
<p><?= e(trans('kurtjensen.langmanager::lang.update.auth_primary')) ?> <strong>"<?= $primary_lang ?>"</strong>.</p>
<?php } ?>

 <?= Form::label('lang1',e(trans('kurtjensen.langmanager::lang.update.primary_lang'))) . ' ' . Form::select('lang1', $langs,$primary_lang) ?><br />
 <?= Form::label('lang2',e(trans('kurtjensen.langmanager::lang.update.second_lang'))) . ' ' . Form::select('lang2', $langs) ?><br />


        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onCompare"
                    data-request-update="results: '#results'"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+n, cmd+n"
                    class="btn btn-primary">
                    <?= e(trans('kurtjensen.langmanager::lang.update.compare')) ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('kurtjensen/langmanager/main') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
<?php

echo Form::close();

?>
<?php } else { ?>
<p>No Language Files for this plugin</p>
<?php } ?>
    

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kurtjensen/langmanager/main') ?>" class="btn btn-default">Return to plugin list</a></p>

<?php endif ?>
</div>